<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Games RODO</title>
</head>

<body class="pt-0">
    <header>
        <%- include('../partials/header', {variant:'compact'}); %>
    </header>

    <main>
        <!-------------------------------------------------------------------------- -->
        <div class="row m-0">
            <div class="col-sm-3 p-0 text-center">
                <div class="jumbotron" style="height: 100%">
                    <h3>Los mejores juegos en un solo lugar</h3>
                    <i class="bi bi-controller fs-1"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <h1 class="text-center py-4">Listado de productos</h1>
                    <% if (products.length > 0) { %>
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col" class="col-sm-6">Nombre</th>
                                    <th scope="col" class="col-sm-3">Precio</th>
                                    <th scope="col" class="col-sm-3">Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach((product)=>{ %>
                                <tr>
                                    <td><%= product.title %></td>
                                    <td>$ <%= product.price %></td>
                                    <td><img style="border-radius: 8%; width: 35%; border: solid 1px"
                                            src="<%=product.thumbnail %>">
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <h2 class="text-center py-5"> - No se encontraron productos - </h2>
                    <% } %>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------------- -->
        </div>
        <div class="d-flex justify-content-around fs-1 m-4">
            <i class="bi bi-xbox"></i>
            <i class="bi bi-playstation"></i>
            <i class="bi bi-nintendo-switch"></i>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>